body {
    /* background-color: #282c34;
    color:white; */
    
    /* display: flex; */
    justify-content: center;
  }
.lifront{
  font-size: calc(0.5em + 1vw);
}
.intro{
    margin-top:0.10vh;;
    font-size: calc(1em + 1vw);
}
