.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6LKwmNJN_7i4ERYlCfNIhOnt9sh2DoWXBExJveZcz0C0KgegD-b0SCwSxOHjka_5jWcY&usqp=CAU');
  /* background-repeat: no-repeat; */
}
button{
  background-color: #282c34;
  color:antiquewhite;
  border:none;
  outline:none;
  border-radius:10px;
  padding:10px;
  font-size:calc(0.75em + 1vh);
  cursor:pointer;
}
li{
  font-family: 'Roboto Slab', serif;
  font-size:calc(1em + 1vh);
  overflow:auto;
}
a{
  cursor : pointer
}
.navbar {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  background-color: #555;
  overflow: auto;
  font-size: calc(1em + 1vw);
  /* padding:10px; */
  /* height:7.5vh; */
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: calc(1em + 1vw);
  margin:1%;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #081a1f;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
